<section class="product">
		<h2><%=link_to product.name, store_product_path(product) %> </h2>
		<div class="description">
			<%= product.description%>
		</div>
		<p class="price">
			<%= number_to_currency product.price %>
		</p>
		<p class="diameter">
			Diameter: <%= product.diameter%>
		</p>
		<p class="width">
			Width: <%= product.width%>
		</p>
		<p class="bolt_pattern">
			Bolt Pattern: <%= product.bolt_pattern%>
		</p>
		<p>
			<strong>Category:</strong> <%= product.category.name %>
		</p>
		<p>
			<%=link_to image_tag(product.image, :width => '150'), store_product_path(product)%>
		</p>
	</section>